    <h4>LIKE TO SHARE</h4>
    <cite>In quoting others, we cite ourselves.</cite>
    <p>Add Your favourite Quote and share it with others.</p>
    <div class="container-fluid">
        <form (ngSubmit)="submitQuote()" #goalForm="ngForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" required class="form-control" id="name"[(ngModel)]="newQuote.uploader" name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p>Please Quote your Name</p>
                </div>
            </div>
            <div class="form-group">
                <label for="quote">Quote</label><br>
                <textarea id="quote" rows="4" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required></textarea>
                <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                    <p>Please Quote your Quote</p>
                </div>
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" required class="form-control" id="author"[(ngModel)]="newQuote.author" name="author" #author="ngModel">
                <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Please Quote the Author</p>
                </div>
            </div>
            
            <!-- <div class="form-group">
                <label for="complete">Completion</label>
                 <input type="date" required class="form-control" id="complete"[(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel">
                <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                    <p>Date is required</p>
                </div>
            </div> -->
            <br><button class="btn btn-success" type="submit">Add Quote</button>
        </form>
    </div>